<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
      </div>
      <h6 class="display-6"&copy;2022 All rights reserved.></h6>
    </nav>
    </footer>