<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='Content/app.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Hello World <%= title %></p>

    <script src="/Week3.2/public/Scripts/app.js"></script>
  </body>
</html>
