<%-include partials/header.ejs%>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if (title =="Home"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          <%}%>
          </li>
          <% if (title =="about"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/about">About</a>
            <%}%>
          </li>

          <% if (title =="services"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/services">Services</a>
            <%}%>
          </li>

          <% if (title =="products"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/products">Products</a>
            <%}%>
          </li>

          <% if (title =="contact"){%>
          <li class="nav-item">
            <%} else {%>
            <a class="nav-link active" aria-current="page" href="/contact">Contact</a>
            <%}%>
          </li>
          
      </div>
    </div>
  </nav>

  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Fixed bottom</a>
      </div>
      <h6 class="display-6"&copy;2022 All rights reserved.></h6>
    </nav>
    </footer>
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
   
<%-include partials/footer.ejs%>   

